

:root {
    --background-color: #143360;
    --bulb-yellow: #FFFAA7;
    --filament-on-color: #F8C600;
    --bulb-off-color: #D6D6D6;
  }
  
 
  
  .box-canvas{
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 600px;
    height:600px;
    background: radial-gradient(var(--bulb-yellow), var(--background-color) 70%);
    animation: lightOnOff 4s infinite;
  }
  
  @keyframes lightOnOff {
    0% {
      background: var(--background-color);
    }
    
    49% {
      background: var(--background-color);
    }
    
    50% {
     background: radial-gradient(var(--bulb-yellow), var(--background-color) 70%);
    }
    
    99% {
      background: radial-gradient(var(--bulb-yellow), var(--background-color) 70%);
    }
    
    100% {
       background: var(--background-color);
    }
  }
  
  /* Top section of bulb */
  .bulb {
    position: absolute;
    top: 150px;
    left: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--bulb-yellow);
    animation: bulbOnOff 4s infinite;
  }
  
  /* Bottom section of bulb */
  .bulb::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 100px;
    background: var(--bulb-yellow);
    bottom: -60px;
    left: 26px;
    clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
    animation: bulbOnOff 4s infinite;
  }
  
  /* Change the color of the bulb sections */
  @keyframes bulbOnOff {
    0% {
      background: var(--bulb-off-color);
    }
    
    49% {
      background: var(--bulb-off-color);
    }
    
    50% {
     background: var(--bulb-yellow);
    }
  }
  
  /* Straight bottom prongs of filament */
  .bulb-bottom {
    position: absolute;
    top: 370px;
    left: 275px;
    width: 45px;
    height: 40px;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
  }
  
  /* Curved bottom of bulb */
  .bulb-bottom::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: darkgray;
  }
  
  /* Screw bottom */
  .bulb-bottom::after {
    content: '';
    top: 35px;
    left: -28px;
    position: absolute;
    width: 103px;
    height: 55px;
    background: repeating-linear-gradient(to bottom, gray, grey 5px, darkgray 5px, darkgray 10px);
    border-radius: 10%;
  }
  
  /* Shared curly filament styles */
  .filament {
    position: absolute;
    top: -68px;
    width: 28px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 4px 0px 0px gray;
    animation: filamentOnOff 4s infinite;
  }
  
  /* First curl in filament */
  .filament-left {
    left: -20px;
  }
  
  .filament-right {
    right: -20px;
  }
  
  /* Shared styles for the diagonal connecting filament lines */
  .filament::before {
    content: '';
    position: absolute;
    top: 10px;
    border-left: 3px solid gray;
    height: 60px;
  }
  
  /* Diagonal line connecting straight line to filament curls */
  .filament-left::before {
    left: 7px;
    transform: rotate(-20deg);
  }
  
  .filament-right::before {
    right: 7px;
    transform: rotate(20deg);
  }
  
  /* Center filament curve */
  .filament-left::after {
    content: '';
    position: absolute;
    left: 28px;
    width: 29px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 4px 0px 0px gray;
    animation: filamentOnOff 4s infinite;
  }
  
  @keyframes filamentOnOff {
  
    0% {
      box-shadow: 0px 4px 0px 0px gray;
    }
    
    49% {
      box-shadow: 0px 4px 0px 0px gray;
    }
    
    50% {
      box-shadow: 0px 4px 0px 0px var(--filament-on-color);
    }
    
    99% {
      box-shadow: 0px 4px 0px 0px var(--filament-on-color);
    }
    
    100% {
       box-shadow: 0px 4px 0px 0px gray;
    }
  }
  
  